<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654190163007-tfb9qvi72e9cferjrkgi6fll3mc5d7e9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654190163007-tfb9qvi72e9cferjrkgi6fll3mc5d7e9</string>
	<key>API_KEY</key>
	<string>AIzaSyA9ke6BZFL1ngzjyYP3kZDKf3vbJGog4hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>654190163007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RayaanSiddiqi.FoodPantryFirebase</string>
	<key>PROJECT_ID</key>
	<string>foodpantry-c4107</string>
	<key>STORAGE_BUCKET</key>
	<string>foodpantry-c4107.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654190163007:ios:c629d39252a4ab6e36748a</string>
	<key>DATABASE_URL</key>
	<string>https://foodpantry-c4107.firebaseio.com</string>
</dict>
</plist>